.organizations {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    width: fit-content;
    margin: 1vw auto;
    margin-bottom: 4vw;
}
.organizations p{
    margin-bottom: 0.8vw;
}
.orgs{
    border: 2px solid black;
    height: 5vw;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 1vw;
}
#ms{
    border: 1px solid black;
    height: 3vw;
    width: 6vw;
}