#search-bar {
    border: 1px solid black;
    height: 3vw;
    width: 35vw;
    border-radius: 6px;
    padding-left: 2vw;
}

.search button {
    width: 9vw;
    height: 3vw;
    flex-shrink: 0;
    border-radius: 6px;
    background: #1E78FF;
    color: white;
    margin-left: 1.5vw;
}
.search{
    margin: 0 auto;
    width: fit-content;
}