*{
    font-family: "Nunito Sans";
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 1vw auto;
}

.logo {
    width: 246px;
    height: 55px;
    flex-shrink: 0;
    margin: auto 0;
}

.navbar-options {
    display: flex;
    margin: auto 0;
}

.navbar-options li {
    list-style: none;
}

.navbar-options li a {
    margin: 0 1vw;
    font-weight: 500;
    font-size: large;
}

.navbar-buttons {
    margin: auto 0;
}

.navbar-buttons button {
    border: 2px solid rgba(148, 147, 147, 0.555);
    border-radius: 0.5rem;
    width: 6vw;
    height: 2.5vw;
    margin-left: 1.3vw;

    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.45px;
}

.navbar-buttons button:nth-child(2) {
    border: 1px solid #0052CE;
    background: #1E78FF;
    color: white;

}