.hero {
    height: 25vw;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 1vw auto;
}

.hero-text {
    margin: auto 0;
}

.hero-text h1 {
    color: #000;
    font-family: "Nunito Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.56px;
    width: 40vw;
}
.hero-text h1 span{
    font-weight: 600;
}

.hero-img {
    /* height: 20vw;
    width: 35vw; */
    margin: auto 0;
}
.hero-img img{
    height: 20vw;
    width: 30vw;
}